* {
  margin: 0;
}
nav {
  display: flex;
  background-color: black;
  width: 100%;
  min-height: 5vh;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}
.logo {
  justify-content: center;
  color: white;
}
nav li:hover {
  background-color: red;
  border: 2px solid black;
  border-radius: 10%;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 45%;
  background-color: red;
}
nav li {
  list-style: none;
  letter-spacing: 3px;
  font-weight: bolder;
}
main {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
}
main img {
  width: 100%;
  height: 100%;
}
.content {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0000ff14;
  font-size: large;
}
.pics {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  width: 100%;
}
.pic img {
  width: 100%;
  height: auto;
}
.pic img:hover {
  opacity: 0.5;
  transition: 0.9s;
}
.burger {
  width: 25px;
  height: 25px;
  display: none;
}
.burger div {
  width: 100%;
  height: 25%;
  background-color: seashell;
  margin-bottom: 2px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 5vh;
    width: 30%;
    height: 92vh;
    background-color: sienna;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }
  .navlinks li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
}
